@model IEnumerable<Phoenix.Domain.Suppliers.Supplier>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="col-md-6">
            <h1>Suppliers</h1>
        </div>
        <div class="col-md-6">
            <a asp-action="Add" asp-controller="Suppliers" class="btn btn-primary">Add Suppliers</a>   
        </div>
    </div>
</div>

<div>
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Street Address 1</th>
            <th scope="col">Street Address 2</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(c => supplier.Id)</th>
                <td>@Html.DisplayFor(c => supplier.Name)</td>
                <td>@Html.DisplayFor(c => supplier.StreetAddress1)</td>
                <td>@Html.DisplayFor(c => supplier.StreetAddress2)</td>
                <td>@Html.DisplayFor(c => supplier.City)</td>
                <td>@Html.DisplayFor(c => supplier.State)</td>
                <td>@Html.DisplayFor(c => supplier.ZipCode)</td>
                <td>@Html.ActionLink("Delete", "Delete", "Customer", new { supplier.Id })</td>
            </tr>   
        }
    </tbody>
    </table>
</div>